<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>page1</title>
    <% if (env === "production") { %>
        <link rel="stylesheet" href="/page1/index.css">
    <% } %>



</head>
<body>


    <form>
      <p>选择视图：</p>
      <!-- <input type="radio" name="sex" value="male">Male -->
    </form>

    <svg width="960" height="600">
    </svg>

    <div class="config">
      
    </div>

  <script type="text/javascript" src="/lib/affinetransform.js"></script>
  <script type="text/javascript" src="/lib/nmap.min.js"></script>
  <script type="text/javascript" src="/lib/nmap-squared.min.js"></script>
    <script src="/page1/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>
</html>




